/*
saludo -> hola mundo
autor: Juan M. Gutierrez
fecha: 17 de junio de 2024
*/

.forma{
    width: 1050px;
    /* border: 1px solid #000; */
    margin-top: 90px;
}
.formulario{
    border: 2px dashed aqua;
    text-align: center;
}
.respuesta{
    border: 2px dashed aqua;
}
.formulario, .respuesta{
    margin-left: 10px;
    border-radius: 8px;
    padding: 15px;
}
h5{
    text-align: center;
}
